@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #ffffff;
}
html,
body {
  background: var(--white);
  font-family: Poppins, sans-serif;
  font-size: 16px;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}
Link,
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  display: block;
}
span {
  display: inline-block;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
